body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: lightgrey;
}

.logo {
  max-width: 50px;
}

.header {
  display: flex;
  align-items: center;
}

nav ul {
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 20px;
  list-style: none;
}

nav a {
  text-decoration: none;
}

.about,
.contact {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer i {
  font-size: 1.5rem;
}

.footer a {
  color: black;
  padding: 10px;
}

.footer a:hover {
  color: lightgrey;
}
